<div class="experience-page-container">
    <div class="work">
        <h1 class="experience-title">{{ 'public.experience' | translate }}</h1>
        <div class="card">
            <h3 class="title">{{ 'experience-page.ytu-ce' | translate }}</h3>
            <img ngSrc="/assets/shared/ytu-logo.png" alt="YTU Logo" height="50" width="50" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'experience-page.date' | translate }}: 12/2025 - 02/2026</li>
                    <li>{{ 'experience-page.used-technologies' | translate }}: .NET, Angular, PostgreSQL, Docker</li> 
                </ul>
            </div>    
        </div>
        <div class="card">
            <h3 class="title">ATP {{ 'experience-page.digital' | translate }}</h3>
            <img ngSrc="/assets/experience/atp-digital.png" alt="ATP Logo" height="50" width="50" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'experience-page.team' | translate }}: {{ 'experience-page.software-development' | translate }}</li>  
                    <li>{{ 'experience-page.role' | translate }}: {{ 'experience-page.intern' | translate }}</li>  
                    <li>{{ 'experience-page.date' | translate }}: 08/2024 - 09/2024</li>
                    <li>{{ 'experience-page.used-technologies' | translate }}: .NET, Angular, MsSQL</li> 
                </ul>
            </div>    
        </div>
    </div>
    <div class="club">
        <h1 class="club-title">{{ 'experience-page.student-clubs' | translate }}</h1>
        <div class="card">
            <h3 class="title">SKYSEC</h3>
            <img ngSrc="/assets/experience/skysec.png" alt="SKYSEC Logo" height="100" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'experience-page.skysec-info' | translate }}</li>  
                    <li>{{ 'experience-page.role' | translate }}: {{ 'experience-page.team-member' | translate }}</li>  
                    <li>{{ 'experience-page.date' | translate }}: 10/2024 - {{ 'experience-page.currently' | translate }}</li>
                </ul>
            </div>    
        </div>
        <div class="card">
            <h3 class="title">WEBLAB</h3>
            <img ngSrc="/assets/experience/weblab.png" alt="WEBLAB Logo" height="100" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'experience-page.weblab-info' | translate }}</li>  
                    <li>{{ 'experience-page.role' | translate }}: {{ 'experience-page.team-member' | translate }}</li>  
                    <li>{{ 'experience-page.date' | translate }}: 03/2025 - 12/2025</li>
                </ul>
            </div>    
        </div>
    </div>
</div>
