<div class="navbar-container">
  <div class="img-container">
    <img ngSrc="/assets/personal/amd.webp" [routerLink]="['/']" alt="Logo" height="40" width="40" priority>
  </div>


  @if (!isMenuOpen) {
    <div class="links-container">
      <a href="/" [ngClass]="{active: isActive('')}">{{ 'navbar.main-page' | translate }}</a>
      <a href="/experience" [ngClass]="{active: isActive('experience')}">{{ 'public.experience' | translate }}</a>
      <a href="/projects" [ngClass]="{active: isActive('projects')}">{{ 'navbar.projects' | translate }}</a>
      <a href="/certificates" [ngClass]="{active: isActive('certificates')}">{{ 'navbar.certificates' | translate }}</a>
      <a href="https://article.ahmetmahirdemirelli.com/" target="_blank">{{ 'navbar.articles' | translate }}</a>
      <a href="/contact" [ngClass]="{active: isActive('contact')}">{{ 'navbar.contact' | translate }}</a>
    </div>
  }

  <div class="hamburger-icon" (click)="toggleMenu()">
    &#9776;
  </div>

  @if (isMenuOpen) {
    <div class="links-container open">
      <a href="/" [ngClass]="{ active: isActive('') }">{{ 'navbar.main-page' | translate }}</a>
      <a href="/experience" [ngClass]="{ active: isActive('experience') }">{{ 'public.experience' | translate }}</a>
      <a href="/projects" [ngClass]="{ active: isActive('projects') }">{{ 'navbar.projects' | translate }}</a>
      <a href="/certificates" [ngClass]="{ active: isActive('certificates') }">{{ 'navbar.certificates' | translate }}</a>
      <a href="/contact" [ngClass]="{ active: isActive('contact') }">{{ 'navbar.contact' | translate }}</a>
      <button class="language-button" (click)="onLanguageChange()">{{ currentLanguage }}</button>
    </div>
  }


  @if (!isMenuOpen) {
    <div class="language-container">
      <button class="language-button" (click)="onLanguageChange()">{{ currentLanguage }}</button>
    </div>
  }
</div>
