<div class="projects-page-container">
    <div class="two-card-row first-row">
        <div class="card">
            <div class="status-badge" data-tooltip="Tamamlandı">✅</div>
            <div class="badge">1</div>
            <div class="title">
                <h3>{{ 'projects-page.pcs' | translate }}</h3>
            </div>
            <img ngSrc="/assets/shared/ytu-logo.webp" alt="YTU Logo" height="100" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'projects-page.pcs-mess-1' | translate }}</li>
                    <li>{{ 'projects-page.pcs-mess-2' | translate }}</li>
                    <li>{{ 'projects-page.pcs-mess-3' | translate }}</li>
                </ul>
            </div>          
        </div>
        <a class="card clickable" href="https://github.com/a-mahir-d/HealthWatchServer" target="_blank" rel="noopener noreferrer">
            <div class="status-badge" data-tooltip="Tamamlandı">✅</div>
            <div class="badge">2</div>
            <div class="title">
                <h3>Health Watch</h3>
            </div>
            <img ngSrc="/assets/shared/ytu-logo.webp" alt="YTU Logo" height="100" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'projects-page.hw-mess-1' | translate }}</li>
                    <li>{{ 'projects-page.hw-mess-2' | translate }}</li>
                </ul>
            </div>       
        </a>
    </div>
    <div class="two-card-row">
        <a class="card clickable" href="https://article.ahmetmahirdemirelli.com/Project-Documentations/Backend/whispr" target="_blank" rel="noopener noreferrer">
            <div class="status-badge" data-tooltip="Tamamlandı">✅</div>
            <div class="badge">3</div>
            <div class="title">
                <h3>Whispr</h3>
            </div>
            <img ngSrc="/assets/projects/messaging-app.webp" alt="Messaging App Logo" height="100" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'projects-page.ma-mess-1' | translate }}</li>
                    <li>{{ 'projects-page.ma-mess-2' | translate }}</li>
                </ul>
            </div>          
        </a>
        <a class="card clickable" href="https://github.com/a-mahir-d/GenreGuesser" target="_blank" rel="noopener noreferrer">
            <div class="status-badge" data-tooltip="Tamamlandı">✅</div>
            <div class="badge">4</div>
            <div class="title">
                <h3>Genre Guesser</h3>
            </div>
            <img ngSrc="/assets/shared/ytu-logo.webp" alt="YTU Logo" height="100" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'projects-page.gg-mess-1' | translate }}</li>
                    <li>{{ 'projects-page.gg-mess-2' | translate }}</li>
                </ul>
            </div>           
        </a>
    </div>
    <div class="two-card-row">
        <a class="card clickable" href="https://github.com/a-mahir-d/EKM" target="_blank" rel="noopener noreferrer">
            <div class="status-badge" data-tooltip="Tamamlandı">✅</div>
            <div class="badge">5</div>
            <div class="title">
                <h3>{{ 'projects-page.ekm' | translate }}</h3>
            </div>
            <img ngSrc="/assets/projects/ekm.webp" alt="EKM Logo" height="100" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'projects-page.ekm-mess-1-1' | translate }} <a href="https://www.linkedin.com/in/seyhan-amasyali/" target="_blank">Seyhan Amasyalı</a>{{ 'projects-page.ekm-mess-1-2' | translate }}</li>
                    <li>{{ 'projects-page.ekm-mess-2' | translate }}</li>
                </ul>
            </div>          
        </a>
        <div class="card">
            <div class="status-badge" data-tooltip="Tamamlandı">✅</div>
            <div class="badge">6</div>
            <div class="title">
                <h3>{{ 'projects-page.drc' | translate }}</h3>
            </div>
            <img ngSrc="/assets/projects/demirelli-rent-car.webp" alt="Demirelli Rent Car Logo" height="100" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'projects-page.drc-mess-1' | translate }}</li>
                    <li>{{ 'projects-page.drc-mess-2' | translate }}</li>
                    <li>{{ 'projects-page.drc-mess-3' | translate }}</li>
                </ul>
            </div>          
        </div>
    </div>
</div>