<div class="certificates-page-container">
    <div class="two-card-row first-row">
        <div class="card">
            <div class="title">
                <h3>Domain Driven Design</h3>
            </div>
            <img ngSrc="/assets/certificates/ddd.png" alt="Certificate" height="50" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'certificates-page.instructor' | translate }}: Taner Saydam</li>
                    <li>{{ 'certificates-page.certificate-date' | translate }}: 09/2025</li>
                </ul>
            </div>           
        </div>
        <div class="card">
            <div class="title">
                <h3>Microservice Architecture</h3>
            </div>
            <img ngSrc="/assets/certificates/microservice.png" alt="Certificate" height="50" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'certificates-page.instructor' | translate }}: Taner Saydam</li>
                    <li>{{ 'certificates-page.certificate-date' | translate }}: 09/2025</li>
                </ul>
            </div>          
        </div>
    </div>
    <div class="two-card-row">
        <div class="card">
            <div class="title">
                <h3>Dependency Injection, Middleware, Assembly, Reflection in C#</h3>
            </div>
            <img ngSrc="/assets/certificates/di_middleware_assembly.png" alt="Certificate" height="50" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'certificates-page.instructor' | translate }}: Taner Saydam</li>
                    <li>{{ 'certificates-page.certificate-date' | translate }}: 09/2025</li>
                </ul>
            </div>          
        </div>
    </div>
    <div class="two-card-row">
        <div class="card">
            <div class="title">
                <h3>Advent of Cyber 2024</h3>
            </div>
            <img ngSrc="/assets/certificates/aoc_2024.png" alt="Certificate" height="50" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'certificates-page.certificate-date' | translate }}: 12/2024</li>
                </ul>
            </div>          
        </div>
        <div class="card">
            <div class="title">
                <h3>Advent of Cyber 2025</h3>
            </div>
            <img ngSrc="/assets/certificates/aoc_2025.png" alt="Certificate" height="50" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'certificates-page.certificate-date' | translate }}: 12/2025</li>
                </ul>
            </div>          
        </div>
    </div>
</div>